{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/advertisements.css') }}">
{% endblock %}
{% block body %}
    <h1 class="mt-5 text-center">Les annonces publiées par: {{ user.username }}</h1>
    <div class="container my-5">
        <div class="row my-2">
            {% include 'advertisement/cardsListing.html.twig' %}
        </div>
    </div>
{% endblock %}