@import "~bootstrap/scss/bootstrap";
@import "footer.scss";

.logo {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 4em;
  font-weight: 300;
  line-height: .5em;
  text-shadow: 2px 1px 1px #d7d7d7;
  position: relative;
  bottom: .1em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.nav-item {
  padding-left: 2em;
}

.nav-link {
  font-size: 1em;
}