{% extends 'base.html.twig' %}

{% block title %}lecoinbof.fr {{ controller_name }}!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}">
{% endblock %}

{% block banner %}
    <div class="container-fluid">
        <img class="bannerImg" alt="Un échange satisfaisant" src="{{ asset('build/images/banner-bof.db314a4b.jpg') }}">
        <div class="siteConcept">
            <h1 class="slogan"><em>Vous y trouverez tout sauf des Bonnes Occasions Foireuses:</em></h1>
            <h3 class="concept pb-2">Vous avez des objets qui ne vous plaisent plus, que vous trouvez "bof" </br>(comme un short en cuir ou une chemise à carreaux) ?: </br>vendez-les ou troquez-les à d'autres particuliers qui eux les trouveront "top" !</h3>
        </div>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
