{% extends 'base.html.twig' %}

{% block title %}lecoinbof.fr {{ controller_name }}!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}">
{% endblock %}

{% block banner %}
    <div class="container-fluid">
        <div id="container" class="siteConcept">
            <h1 class="title"><em>lecoinbof.fr c'est tout sauf le coin des Bonnes Occasions Foireuses:</em></h1>
            <p class="concept">Vous avez des objets qui ne vous plaisent plus, que vous trouvez "bof" ?: </br>vendez-les ou troquez-les à d'autres particuliers qui eux les trouveront "top" !</p>
        </div>
        <img class="bannerImg" alt="Un échange satisfaisant" src=" http://via.placeholder.com/1920x1080">
    </div>
{% endblock %}

{% block body %}

{% endblock %}
